

body {
  background-color: rgb(73, 0, 73);
  color: white;

}

.body{
  display: flex;
  justify-content: space-evenly;
}

.game {
  text-align: center;
}

.buttons {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.button {
  padding: 1%;
  background-color: lavender;
  border-radius: 2px;
  height: 30px;
  margin: 2%;
}

.rule1 {
  display: flex;
  justify-content: space-between;
}

img {
  width: 70px;
  height: 70px;
}