

body {
  background-color: #282c34;
  /* min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); */
  color: white;

}

.body{
  display: flex;
  justify-content: space-evenly;
}

.game {
  text-align: center;
}

.buttons {
  text-align: center;
  margin: 2%;
}

button {
  padding: 2%;
  background-color: lavender;
  border-radius: 2px;
  margin: 2%;
  font-size: 14pt;
}

.rule1 {
  display: flex;
  justify-content: space-between;
}

img {
  width: 70px;
  height: 70px;
}